<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7e865765-0eaa-4b5a-9c0b-81cd1884bebc/resourceGroups/NTTDATA/providers/Microsoft.ContainerRegistry/registries/nttdatawebapicr</ResourceId>
    <ResourceName>nttdatawebapicr</ResourceName>
    <ResourceGroup>NTTDATA</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://nttdatawebapicr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>07a23801-3e5a-43ec-89dd-d97aec395bb0</ProjectGuid>
  </PropertyGroup>
</Project>